<body class="container">

    <div class="informacion">
        <img src="../../../assets/foto_corta.png" class="imagen">
        <h1 class="name">Claudia Cardona <br>Ingeniera</h1>

        <p>Lorem ipsum dolor sit amet, consctetur adipisicing elit. Nulla atque veniam velit omnis ullam, itaque minima
            amet odit qui officiis praesentium accusantium, quos recusandae nemo, eveniet libero laborum suscipit vero.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, perspiciatis ad corporis deleniti esse praesentium explicabo velit quia maiores exercitationem recusandae ipsum consequatur quos illum alias dolor odio nostrum doloremque!  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni aliquam deleniti totam maxime rem, recusandae soluta quisquam, iste, doloribus modi ab. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsa assumenda quidem doloribus eveniet quod amet sit a veniam tempora, asperiores, excepturi inventore molestiae.</p>
          
            <img src="../../../assets/icono_like.png" class="icono">
    </div>

    <div class="comunidades">
        <h1>Comunidades</h1>

        <div class="contenedor_img">
            <img src="../../../assets/imagen principal.svg" class="img">
            <img src="../../../assets/imagen principal.svg" class="img">
            <img src="../../../assets/imagen principal.svg" class="img">
            <img src="../../../assets/imagen principal.svg" class="img">
           
        </div>

    </div>

    <div class="informacion">
        <img src="../../../assets/foto_corta.png" class="imagen">
        <h1 class="name">Claudia Cardona <br>Ingeniera</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla atque veniam velit omnis ullam, itaque minima amet odit qui officiis praesentium accusantium, quos recusandae nemo, eveniet libero laborum suscipit vero.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, consequatur dignissimos? Deleniti deseruntaccusamus nobis impedit nostrum. Minus ipsa, animi dicta blanditiis eum unde veniam ullam, cumque quis idea. amet consectetur adipisicing elit. Necessitatibus ipsa assumenda quidem doloribus eveniet quod amet sit a veniam tempora, Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid temporibus modi accusantium distinctio, facere sit quo, sed, ipsa </p>
        <img src="../../../assets/icono_like.png" class="icono">
       
    </div>

    <div class="informacion">
        <img src="../../../assets/foto_corta.png" class="imagen">
        <h1 class="name">Claudia Cardona <br>Ingeniera</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla atque veniam velit omnis ullam, itaque minim amet odit qui officiis praesentium accusantium, quos recusandae nemo, eveniet libero laborum suscipit vero.Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit nam non fugit hic quos. Perspiciatis pariatur nesciunt illo architecto, aperiam corporis cumque corrupti, explicabo at alias eligendi odio. Similique, quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem rerum iure hic, ducimus laborum ab sunt saepe cupiditate? Distinctio quo voluptatum accusantium veritatis alias odit ipsam cupiditate praesentium, libero veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, sit itaque! Praesentium quod, ad hic beat</p>
            <img src="../../../assets/icono_like.png" class="icono">
           
    </div>


</body>

