<section class="communities">
  
    <div class="section2">
        <div class="titleCommunities">
            <h2>Comunidades</h2>
        </div>
        <div class="searching">
            <img src="./../../../assets/communities/searchIcon.png" alt="">
            <input type="text">
        </div>
        <a href="./infoCommunity" class="divcenter">
            <div class="allCommunities">
                <div class="boxCommunity">
                    <div class="Figures">
                        <img src="./../../../assets/communities/defaultImage.jpg" alt="">
                        <div class="triangleTop"></div>
                        <div class="triangleBottom"></div>
                    </div>
                    <div>
                        <h3>ReBoys</h3>
                    </div>
                </div>
            </div>
        </a>
        
    </div>
</section>