<div class="container">
    <section class="section1" >
        <img src="../../../assets/Home/21934 (1)-min.jpg" alt="">
        <div class="description">
            <h1>¡Domina tus Finanzas con FinanceGenius!</h1>
            <p>FinanceGenius es tu aliado para adquirir hábitos financieros saludables y planificar tu futuro económico. Desde el seguimiento de ingresos y gastos hasta la creación de presupuestos realistas y metas de ahorro, nuestra plataforma te brinda las herramientas y la educación que necesitas para alcanzar el éxito financiero. Únete hoy y toma el control de tu dinero."</p>
        </div>
    </section>

</div>