
<body>
    <div class="container">
        <div class="signin-signup">
            <form class="sign-in-form" [formGroup]="formLogin" (submit)="sendL()">
                <h2 class="title">Iniciar Sesión</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Correo electronico" formControlName="email" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Contraseña" formControlName="password" required>
                </div>
                <input type="submit" value="Iniciar" class="btn" >
                
            </form>

            <form action="" class="sign-up-form" [formGroup]="formRegister" (submit)="sendR()">
                <h2 class="title">Crear una cuenta</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Nombre" formControlName="name" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Email" formControlName="email" required>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Contraseña" formControlName="password" required>
                </div>

                <input type="submit" value="registrar" class="btn" [disabled]="!formRegister.valid">
                
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p> Presiona el botón <b>Inicia Sesión</b> si ya tienes cuenta, para que puedas ingresar nueva mente a tu cuenta.</p>
                    <button class="btn" id="sign-in-btn">Inicia Sesión</button>
                </div>
                <img src="../../../assets/iniciar 1.svg" class="image">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>¿No tienes cuenta?</h3>
                    <p> Presiona el botón <b>Registrarte</b> para que puedas crear una cuenta</p>
                    <button class="btn" id="sign-up-btn">Registrate</button>
                </div> 
                <img src="../../../assets/register.svg" alt="" class="image">
            </div>
        </div>
    </div>
</body>