.infoCommunity{
    display: flex;
    width: 100%;
    padding: 0 80px;
}
.nameCommunity{
    display: flex;
    align-items: center;
}
.Figures{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: clamp(180px, 50vw, 400px);
    height: clamp(250px, 50vw, 400px);
    overflow: hidden;
    box-sizing: content-box;
    position: relative;
}
.triangleTop {
    width: 0;
    height: 0;
    border-left: clamp(130px, 13vw, 150px) solid transparent;
    border-right: clamp(130px, 13vw, 150px) solid transparent;
    border-bottom: clamp(130px, 13vw, 150px) solid var(--c3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(132deg); 
}
.triangleBottom {
    width: 0;
    height: 0;
    border-left: clamp(160px, 18vw, 180px) solid transparent;
    border-right: clamp(160px, 18vw, 180px) solid transparent;
    border-bottom: clamp(16 0px, 18vw, 180px) solid var(--c2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-63%, -80%) rotate(315deg);
}
.Figures img{
    width: clamp(180px, 50%, 200px);
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
    z-index: 1;
}