<style>
    .material-symbols-outlined {
        cursor: pointer;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }
</style>
<div class="modalDiv" id="modal">
    <div class="modal">
        <div class="closeDiv">
            <span (click)="modalClose()"  class="material-symbols-outlined">
                close
            </span>
        </div>
        <h2>Nueva publicación</h2>
        <form>
            <label>Titulo</label>
            <input id="input_title" type="text">
            <label>Contenido</label>
            <textarea id="input_content" ></textarea>
            <div class="btnModal">
                <button (click)="publicar()">Publicar</button>
            </div>
        </form>
    </div>
</div>
<section class="infoCommunity">
    <div class="Figures">
        <img src="./../../../assets/communities/defaultImage.jpg" alt="">
        <div class="triangleTop"></div>
        <div class="triangleBottom"></div>
    </div>
    <div class="nameCommunity">
        <h1>{{data.name}}</h1>
    </div>
</section>
<section class="postCommunity">
    <div class="followButton">
        <button *ngIf="seguido" style="background-color: brown;" (click)="seguir()">Dejar de Seguir</button>
        <button *ngIf="!seguido" (click)="seguir()">Seguir</button>
    </div>
    <div class="actionPost">
        <div class="profilePost">
            <div>
                <img src="./../../../assets/foto_corta.png" alt="">
            </div>
            <div>
                <h2>Me</h2>
                <p>Quiero Opinar algo...</p>
            </div>
        </div>
        <div class="buttonPost">
            <button (click)="modalOpen()">Nueva publicación</button>
        </div>
    </div>
    <div class="posts">
        <div *ngFor="let post of posts;index as i;" class="post">
            <div class="profilePost">
                <div>
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" alt="" style="border-radius: 50%;">
                </div>
                <div>
                    <h2>{{post.title}}</h2>
                    <p>{{post.nameCreator}}</p>
                </div>
            </div>
            <div>
                <p>{{post.content}}</p>
            </div>

        </div>
    </div>
</section>