<body>


    <div class="buscador-container">
        <input type="text" id="buscador" placeholder="Buscar...">
        
    </div>
 <div class="title"><h1>Comunidades</h1></div>


    <div class="gallery">
        <div class="gallery-item">
            <img src="../../../assets/buscador.jpg" alt="Imagen 1">
            <p>Daniela</p>
        </div>
        <div class="gallery-item">
            <img src="../../../assets/buscador.jpg" alt="Imagen 2" >
            <p>Carlos</p>
        </div>
        <div class="gallery-item">
            <img src="../../../assets/buscador.jpg" alt="Imagen 3">
            <p>Felipe</p>
        </div>
        <div class="gallery-item">
            <img src="../../../assets/buscador.jpg" alt="Imagen 4">
            <p>Santiago</p>
        </div>
        <div class="gallery-item">
            <img src="../../../assets/buscador.jpg" alt="Imagen 5">
            <p>Sergio</p>
        </div>
        <div class="gallery-item">
            <img src="../../../assets/buscador.jpg" alt="Imagen 6">
            <p>Tatiana</p>
        </div>
        <div class="gallery-item">
            <img src="../../../assets/buscador.jpg" alt="Imagen 7">
            <p>Sebastian</p>
        </div>
        <div class="gallery-item">
            <img src="../../../assets/buscador.jpg" alt="Imagen 8">
            <p>Julian</p>
        </div>
        <div class="gallery-item">
            <img src="../../../assets/buscador.jpg" alt="Imagen 9">
            <p>Valentina</p>
        </div>
       
        </div>
    
</body>
